# Default ignored files
/shelf/
/workspace.xml
/tasks.xml
/vcs.xml
/inspectionProfiles/
.name
*.iml
*.iws
*.ipr
.gradle/
.gradle/caches/
caches/
.idea/
build/

# Generated
.idea/artifacts/
.idea/libraries/
.idea/modules.xml
.idea/runConfigurations/

# IDE
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/inspectionProfiles/
.idea/misc.xml
